#feeling-form{
  display: flex;
  flex-flow: row;
  margin: auto;
  width: fit-content;

}

#feeling-box{
  display: flex;
  flex-flow: column;
  text-align: left;

}
#feeling{
  width: 100%;

}
#feeling-submit{
  margin: auto 0 auto 25px;
}
#feeling-submit input{
padding: 10px;
}
.rating{
  display: flex;
  flex-direction: row;
}
#feeling-star-label{
  margin: 5px;
}
#feeling-question{
  margin: 0 auto 10px auto ;
}